.background {
  height: 87.7vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: inherit;
}

.member img {
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  padding: 2%;
  margin-right: 5%;
}

.member-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--one);
  font-size: 1.8rem;
}

.member-title h5 {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
}

.github-icon {
  color: var(--one);
}

.linkedin-icon {
  color: var(--one);
}

.github-icon,
.linkedin-icon {
  margin: 0.5rem;
}

.team {
  text-align: center;
  padding: 3%;
  font-size: 3rem;
  color: var(--one);
}
