html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --primary: hsl(190, 98%, 35%);
    --secondary: hsl(165, 35%, 15%);
    --tertiary: #6fc363;
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 100px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: url('./Gallery/natural-background-green-fern-leaves-natural-pa-2021-08-29-20-13-25-utc.jpg') no-repeat center;
    background-size: auto;

}
/* Navbar Styling */
header {
    height: 58px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: white;
    background: linear-gradient(hsl(165, 35%, 15%), hsl(190, 98%, 35%));
}

.nav-area {
    display: flex;
    text-wrap: none;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    height: 75px;
}

.nav-area .nav {
    width: 750px;
    text-wrap: none;
}

.logo {
    text-decoration: none;
    font-size: 25px;
    color: inherit;
    width: 18%;
}

.logo-image {
    width: 100%;
    height: 100%;
    margin-top: 115px;
}

.menus {
    display: flex;
    list-style: none;
    text-wrap: none;
}

.menu-items {
    position: relative;
    text-align: center;
    text-wrap: none;
    color: white;
    width: 225px;
    font-size: 20px;
}

.menu-items a {
    display: block;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

.button {
    appearance: auto;
    -webkit-appearance: button;
}

.menu-items button {
    background: hsl(165, 35%, 15%);
    color: white;
    font-size: inherit;
    border: none;
    cursor: pointer;
    width: auto;
    text-align: center;
    -webkit-appearance: button;
}

.menu-items button :hover {
    width: 100%;
    color: white;
    font-size: inherit;
    text-align: center;
    -webkit-appearance: button;
}

.menu-items a,
.menu-items button {
    width: 100%;
    text-align: center;
    padding: 0.7rem 1rem;
    color: white;
    -webkit-appearance: button;
}

.menu-items a:hover,
.menu-items button:hover {
    background-color: hsl(190, 98%, 35%);
    width: 100%;
    text-align: center;
    color: white;
}

.arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.28em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
}

.dropdown {
    width: 100%;
    position: absolute;
    text-align: center;
    right: 0;
    left: auto;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem 0;
    list-style: none;
    background-color: hsl(165, 35%, 15%);
    border-radius: 0.5rem;
    display: none;
    color: white;
    top: 70px;
}

.dropdown.show {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
}

.dropdown .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -10px;
    width: 100%;
    text-align: center;
    color: white;
}

.dropdown :hover {
    width: 100%;
    text-align: center;
    color: white;
}

.dropdown a,
.dropdown button {
    text-align: center;
    width: 100%;
    padding: 0.7rem 1rem;
    color: white;
    -webkit-appearance: button;
}

.dropdown a:hover,
.dropdown button:hover {
    background-color: hsl(190, 98%, 35%);
    width: 100%;
    text-align: center;
    color: white;
}

/* Carousel Styling */

div .csel {
    height: 750px;
}

.carousel {
    z-index: -9999;
}

.carousel img {
    width: 750px;
    height: 800px;
    position: center;
}

.carousel h1 {
    font-size: 100px;
    color: var(--tertiary);
    text-shadow: -2px -2px black;
}

.carousel h2 {
    font-size: 100px;
    color: var(--tertiary);
    text-shadow: -2px -2px black;
    margin-bottom: 500px;
}

.carousel h3 {
    font-size: 100px;
    color: var(--tertiary);
    text-shadow: -2px -2px black;
    margin-bottom: 350px;
}

.csel hr {
    color: var(--tertiary);
    background: var(--tertiary);
    border: 0;
    border-bottom: 3px solid var(--tertiary);
}

/* About Styling */
.about-container {
    margin: 150px 250px;
    color: white;
    font-weight: 600;
}

.about-us {
    margin: 100px 0;
}

.about-orchids {
    margin: 100px 0;
}

/* Contact Styling */
#contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 2rem;
}

#contact-container h1 {
    font-size: 3.5rem;
    text-shadow: 3px 3px 3px black;
}

.contact-info {
    width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(201, 201, 201, 0.5);
    margin-top: 2rem;
    -webkit-box-shadow: 0 10px 33px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 10px 33px 0 rgba(0, 0, 0, 0.75);
}

.contact {
    background-color: rgba(58, 119, 86, 0.5);
    border-radius: 15px;
    flex: 0 1 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    -webkit-box-shadow: 0 10px 33px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 10px 33px 0 rgba(0, 0, 0, 0.75);
}

.contact h4 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 0;
    text-shadow: 2px 2px 2px black;
}

.contact p{
    font-size: .8rem;
}

.contact .icon-text {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.contact .icon-text .fa-solid {
    font-size: 2.5rem;
    margin-right: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
}

.contact .icon-text .fa-map-pin {
    color: darkred;
    text-shadow: 1px 1px 1px white;
}

.contact .icon-text span {
    font-size: .8rem;
    font-weight: 300;
}

.social-media {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.social-media .icon-circle {
    flex: 0 1 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    margin-top: 1.5rem;
}

.social-media .icon-circle .fa {
    text-decoration: none;
    font-size: 2rem;
}

.social-media .icon-circle .fa-laptop {
    text-decoration: none;
    color: white;
}

.social-media .icon-circle .fa-facebook-square {
    text-decoration: none;
    color: #0570E6;
}

.social-media .icon-circle .fa-instagram {
    text-decoration: none;
    color: #C535A0;
}

form {
    padding: 40px;
    width: 100%;
}

form .col {
    display: flex;
    width: 100%;
    flex: 0 0 100%;
}

form .col .form-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0 1 100%;
    padding-right: 15px;
    margin-top: 15px;
}

form .col .form-group label {
    color: rgba(21, 135, 159, .85);
    text-shadow: 2px 2px 2px black;
    font-size: .9rem;
    font-weight: 800;
    margin-bottom: 1rem;
    margin-top: 15px;
}

form .col .form-group input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(21, 135, 159, .75);
    padding: 10px;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    color: white;
    transition: .3s all ease-in-out;
}

form .col .form-group input[type="text"]:focus {
    border: none;
    outline: none;
    border-bottom: 4px solid rgba(21, 135, 159, .75);
}

form .col .form-group input::placeholder {
    color: rgb(197, 53, 160);
    text-shadow: 1px 1px rgb(254, 174, 201);
}

form .col .form-group label:nth-child(2){
    padding-right: 0;
}

form .col .form-group input[type="email"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(21, 135, 159, .75);
    padding: 10px;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    color: white;
    transition: .3s all ease-in-out;
}

form .col .form-group input[type="email"]:focus {
    border: none;
    outline: none;
    border-bottom: 4px solid rgba(21, 135, 159, .75);
}

form .col .form-group label:nth-child(2){
    padding-right: 0;
}

form .col .form-group textarea {
    width: 75%;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(21, 135, 159, .75);
    padding: 10px;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    color: white;
    transition: .3s all ease-in-out;
}

form .col .form-group textarea:focus {
    border: none;
    outline: none;
    border-bottom: 4px solid rgba(21, 135, 159, .75);
}

form .col .form-group label:nth-child(2){
    padding-right: 0;
}

form .col .right {
    align-items: flex-end;
}

form .col .form-group button {
    width: 125px;
    height: 60px;
    cursor: pointer;
    border-radius: 7px;
    background: rgba(21, 135, 159, .75);
    color: white;
    text-shadow: 2px 2px black;
    border: none;
    text-transform: uppercase;
    margin-top: 35px;
}

/* Uploader Styling */
.form-upload-container {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.form-upload-container .container {
    display: flex;
    flex-direction: row;
    background: rgba(0,0,0,0.25);
    box-shadow: 0.15em 0.2em 0.2em 0 rgba(5, 5, 5,0.75);
    position:relative;
    justify-content: center;
}

.form-upload-container .container .left-container {
    display: flex;
    flex-direction: column;
    color: var(--tertiary);
    flex: 1;
    margin: 1rem;
}

.form-upload-container .container .right-container {
    display: flex;
    flex-direction: column;
    color: var(--tertiary);
    flex: 1;
    margin: 1rem;
}


.heading {
    text-align: center;
    background: rgba(0,0,0,0.25);
    color: var(--tertiary);
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin:0;
}

.heading h4 {
    padding: 0.5em;
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin:0;
    font-size: 2rem;
    text-shadow: 1px 1px rgba(254, 174, 201, .8);
}

.heading div {
    background: var(--tertiary);
    color:  var(--bg);
    width: 5vmin;
    height: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 50%;
    margin: 0 0.5em 0 auto;
    text-decoration: none;
    cursor: pointer;
}
.form-upload-container .container .right-container .grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
}
.form-upload-container .container .right-container .grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
    height: 50vh;

    /* This is how textarea text behaves */
    white-space: pre-wrap;

    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
}
.form-upload-container .container .right-container .grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
    height: 50vh;
}
.form-upload-container .container .right-container .grow-wrap > textarea,
.form-upload-container .container .right-container .grow-wrap::after {
    /* Identical styling required!! */
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    height: 50vh;

    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
}

.view {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    flex:1;
    height:100%;

}

.history {
    padding:0.5em;
    color: var(--tertiary);
    text-shadow: 1px 1px 5px black;
}

.pane {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    margin: 1.5em;
    min-width:15em;

}

.pane form {
    width:100%;
    min-height:8em;
    border: 2px dashed  var(--tertiary);
    border-radius: 0.5em;height: 80vh

}
.pane form label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: rgba(0,0,0,0.25);
    height:100%;
    color: darkgrey;
    width: 100%;
    cursor: pointer;
}

.dragging {
    animation: borderloop 1s infinite;
}

@keyframes borderloop {
    0% {
        border-radius: 0.25em;
        border: 2px dashed  var(--tertiary);}
    50% {
        border-radius: 0.5em ;
        border: 2px dotted  var(--tertiary);}
}

.message{
    color:white;
    font-weight: 900;
    -webkit-text-stroke: var(--text-color);
    padding:1em;
}
.btn {
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:3;
    border:none;
}
.upload{
    background: rgba(0,0,0,0.25);

    color:var(--tertiary);
    margin-bottom:2em;
    border:2px solid var(--tertiary);
    border-radius: 0.5em;
    padding:0.5em  1.5em;
    transform: scale(0.25);
    animation: scaleIn 0.1s ease both;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
}
.upload--done{
    color:var(--tertiary);
    margin-bottom:2em;
}

.upload:hover, .upload:hover .icon-upload{
    background:var(--tertiary);
    color:var(--bg);
    fill:var(--bg);
}


input[type="file"] {
    display: none;
    opacity: 0;
}

.outputView {
    display:flex;
    flex-direction: column;

    align-items: center;

    background:var(--tertiary);
    background: rgba(50,50,50,0.75);
    padding:0.5em;
    width:90%;
    backface-visibility: hidden;
    transform-origin: 0 0;
    transform:rotateX(-90deg);
}
.outputView.out {
    animation: slideIn 1s forwards;
}
.outputView.done {
    animation: slideOut 1s both 2s;
    /* max-height:0;  */
}

@keyframes slideIn {
    to {
        transform:rotateX(0deg);
    }
}

@keyframes slideOut {
    0% {
        transform:rotateX(0deg);
        height:100%;
    }
    100% {

        transform:rotateX(-180deg) ;
        max-height:0;
    }

}

.blendIn {
    opacity: 0;
    animation: blend 0.1s ease forwards;
}

@keyframes blend {
    to {

        opacity: 1;
    }
}


@keyframes scaleIn {
    100% {
        transform: scale(1);
    }
}


.fileList {
    display:grid;
    grid-template-columns: 3em 1fr 4em 2em ;
    align-items: center;
    padding: 0 0.5em  0 0.5em ;
    width: 100%;
    height:3em;
    border-bottom: 1px solid var(--tertiary);
    box-shadow: inset 0  -1px 0 1px var(--bg);
    background: var(--tertiary);
    color:var(--bg);
    position:relative;
    font-size:0.7em;
}

.progressFile {
    background: hsl(165, 35%, 15%);
    position:absolute;
    width:0;
    top:0;
    left:0;
    border:0;
    height:3em;
}

.pop {
    display: flex;
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    width: 100%;
}

.dialog {
    position: relative;
    width: 75%;
    max-height: 85%;
    padding: 2em;
    background: rgba(0,0,0,0.75);
    color:  var(--tertiary);
    border-radius: 0 1em 1em 1em;
    overflow-y: auto;
}

.dialog button,
.dialog h2 {
    color: var(--tertiary);
    background:  rgba(0,0,0,0.75);

    font-weight: bold;
    text-decoration: none;
    top: 0;
    right: 0;
    position: absolute;
    padding: 0.5em;
    line-height: 0.5;
}

.dialog h2 {
    left: 0;
    margin: 0;
}

.icon-upload {
    fill: var(--tertiary);
    width: 2em;
    height: 2em;
}
.icon-cloud {
    fill: var(--tertiary);
    width: 10vmin;
}
.icon-close {
    fill: var(--tertiary);
    width: 2em;
    height: 2em;
}
.icon-done {
    fill: var(--tertiary);
    width: 2em;
    height: 2em;
}
.icon-file {
    fill: var(--tertiary);
    width: 1em;
    height: 1em;
}
.icon-process {
    fill: var(--tertiary);
    width: 2em;
    height: 2em;
    animation: test 1s infinite;
}
@keyframes test {
    to {
        transform: rotate(360deg);
    }
}
