footer {
  display: flex;
  justify-content: space-evenly;
  height: 4rem;
  background-color: #7fbf7c;
  padding: 1% 4% 0 4%;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

footer a {
  margin-right: 2rem;
  text-decoration: none;
  color: darkgreen;
}

footer a:hover {
  color: #fff;
}
