.footer-container {
  display: flex;
  justify-content: space-evenly;
  height: 4rem;
  background-color: var(--four);
  padding: 1% 4% 0 4%;
  bottom: 0px;
  width: 100%;
}

footer a {
  margin-right: 2rem;
  text-decoration: none;
  color: var(--nine);
}

footer a:hover {
  color: #fff;
}

.copyright {
  color: #fff;
}

.team-link {
  color: var(--one);
}
