/* .login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  height: 2.5rem;
  border: var(--border);
  border-radius: 0.5rem;
}

input[type="submit"] {
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  background: var(--primary);
  border-radius: 0.5rem;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: rgba(21, 135, 159, 0.75);
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(15px);
  border: 1px solid #c9c9c980;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1.5rem;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 1rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #fff;
}

.input-container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 1rem;
  margin: 1rem;
  color: #fff;
}

.signup-link {
  text-align: center;
  margin-top: 1.5rem;
  color: var(--tertiary);
}

.signup-link a {
  text-decoration: none;
  color: #fff;
}

.signup-link a:hover {
  text-decoration: none;
  color: var(--contrast);
} */

.App {
  text-align: center;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.link {
  list-style: none;
}

form {
  width: 100vw;
  border: 1px solid lime;
}

.main {
  width: 100vw;
  height: 93.5vh;
  z-index: -1;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0px 90px 0;
  /* background-color: rgb(252, 252, 252); */
}

.sub-main {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 25vw;
  padding-top: 30px;
  border-radius: 60px;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(201, 201, 201, 0.5);
}

input {
  width: 19rem;
  height: 3rem;
  border-radius: 20px;
}

.imgs {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}

.container-image img {
  background-color: rgb(223, 221, 221);
  border-radius: 150px;
  height: 8rem;
  width: 8rem;
  margin-bottom: 1rem;
}

.inputs-container {
  height: 20rem;
  margin-top: 3rem;
}

.header {
  text-align: center;
  font-size: 5rem;
  color: white;
}

.fill {
  padding-left: 70px;
  font-size: 20px;
}

.password-input {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.password-input input {
  height: 3.5rem;
}

button {
  width: 260px;
  height: 50px;
  border-radius: 60px;
  background-color: darkgreen;
  color: white;
  font-size: 25px;
  border: none;
}

.login-btn {
  padding-top: 20px;
}

.reg-link {
  padding-top: 10px;
}

.signup-link {
  margin-top: 2rem;
}

.signup-link:hover {
  color: magenta;
}

.mail-id {
  padding-top: 20px;
}

.plist {
  padding-right: 10px;
  font-size: 25px;
}

select {
  border: 1px solid red;
  appearance: none;
  outline: 0;
  background: rgb(92, 2, 110);
  background-image: none;
  border: 1px solid black;
  padding-top: 200px;
}

.select {
  position: relative;
  top: 10px;
  display: block;
  left: 30px;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
}

select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 1em;
  color: #fff;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}

.select:hover::after {
  color: #f39c12;
}
