* {
  margin: 0;
  padding: 0;
}

header {
  display: inline;
  background: var(--four);
  height: 4rem;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
  overflow: hidden;
  color: white;
  z-index: -9999;
}

div .nav-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  margin: 0 auto;
  height: 4rem;
  font-size: 1.25rem;
  color: white;
  z-index: -9999;
}

.nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  color: white;
  z-index: -9999;
}

.navbar-nav a {
  font-size: 1.5rem;
  color: white !important;
  text-shadow: 1px 1px black;
  display: flex;
  margin: 0 25px;
  width: 10rem;
  text-wrap: none;
}

.navbar .dropdown-menu .show {
  z-index: 9999;
}

.nav-area form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 3.5rem;
}

.nav-area input[type='search'] {
  margin: 1rem 0;
  width: 35rem;
  height: 3rem;
}

.nav-area button {
  margin-left: 10px;
  text-decoration: none;
  height: 3rem;
}