.dashboard-container {
    height: 100%;
    width: 100%;
    background: var(--three);
}

.grid {
    padding: 0 2rem 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.row2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
    .dashboard-container {
        height: max-content;
    }
    .grid {
        grid-template-columns: 1fr;
        padding: 1rem;
        height: max-content;
    }
    .row,
    .row2 {
        /* height: max-content; */
        grid-template-columns: 1fr;
    }
}